<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat-Da-Burger</title>
    {{!-- css --}}
    <link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css">
    {{!-- bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.15.4/bootstrap-table-locale-all.js" integrity="sha256-YA5FlDSnrVuMHRGY31ur6KBLTM5zQZwhef0KlFcmrHs=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Eat-Da-Burger!</h1>
            <p class="lead">Enter the burger of your dreams and enjoy.</p>
            <hr class="my-4">
            <p>Type burger's name and click submit to create your burger. Then eat it up when you click devoure!</p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{{body}}}
            </div>
        </div>
    </div>
    {{!-- jquery --}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    {{!-- javascript --}}
    <script src="/public/assets/js/burger.js"></script>
</body>

</html>

