    <div class="col-xs-6 text-center">
        <h1>Eat-Da-Burger</h1>
    </div>

    <div>
        <div>
        {{!-- Go through burger data --}}
        {{#each burgers}} 
        <div class="col-xs-6 text-center">
        {{this.burger_name}}
        <button class = "btn btn-primary" data-id = {{this.id}}>Devoure</button>
        </div>
        {{/each}}
        </div>
    </div>
{{!--Add to database--}}
<div class="col-xs-6 text-center" >
{{!-- on click of submit add new burger to list above --}}
    <h1>Devoured</h1>
</div>

{{!-- Add new burger --}}
<div class="col-xs-6 text-center">
<h2>Add a Burger</h2>
<form class="create-form">
<input type = "text" name = "burger_name">
<input type = "submit" class = "btn btn-primary">
</form>
</div>
