<div class="container">
    <div class="row">
    <div class="col-xs-12 text-center" id="top-bar">
        <h1>Eat-Da-Burger</h1>
    </div>

    <div class="col-xs-6 text-center" id="task">
        <div class="row">
        {{!-- Go through burger data --}}
        </div>
    </div>
{{!--Add to database--}}
    
<div class="col-xs-6 text-center md-1" id="task">

</div>

{{!-- Add new burger --}}
<h2>Add a Burger</h2>
<form class="create-form">

</form>
